<%# <%= image_tag 'study.jpg' , :size => '100%' %>
<header id="header">
    <div class="content">
        <h1><a href="http://54.238.202.1/" title="beta-mon - クイズを単語帳形式で覚えるアプリ">beta-mon</a></h1>
        <p>クイズのベタ問を単語帳形式で<br />
            勉強するためのwebアプリ </p>
    </div>
</header>