// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon {
  font-size: 30px;
}

.form-group2 {
  // float: left;   /* 回り込み指定 */
  padding-right: 100px;
}

.add-card-type {
  justify-content: space-between;
  display: flex;
}